.why-choose{
    background-color: rgb(246, 238, 249);
    height: 530px;
}

p {
    overflow : hidden;
}

.card-size{
    height: 370px;
    width: 330px;
    border-radius: 10px;
}

.card-row{
    justify-content: space-around;
    margin-left: 80px;
    margin-top: 50px;
}

.card-img-top1{
   height: 180px;
   width: 328.5px;
   border-radius: 10px;
}

.card-title1{
    text-align:left ;
    font-family: poppins;
    font-weight: 500;
    font-size: large;
}

.card-text1{
    font-size: 14px;
    line-height: 25px;
    color: rgb(84, 82, 82);
    text-align: left;
}

.choosing{
    text-align: left;
    font-weight: 700;
    font-family: poppins;
    font-size: 40px;
}