.why-choose{
    background-color: rgb(246, 238, 249);
    height: 530px;
}

p {
    overflow : hidden;
}

.card-size{
    height: 370px;
    width: 330px;
    border-radius: 10px;
}

.card-row{
    justify-content: space-around;
    margin-left: 80px;
    margin-top: 50px;
}

.card-img-top1{
   height: 180px;
   width: 328.5px;
   border-radius: 10px;
}

.sailors-title{
    text-align:left ;
    font-family: poppins;
    font-weight: 500;
    font-size: large;
}

.card-text1{
    font-size: 14px;
    line-height: 25px;
    color: rgb(84, 82, 82);
    text-align: left;
    font-family: poppins;
}

.choosing{
    margin-left: 93px;
    font-weight: 700;
    font-family: poppins;
    font-size: 40px;
}

@media screen and (max-width:412px) {
   
    .why-choose{
        background-color: rgb(246, 238, 249);
        height: 230px;
    }
    .choosing{
        margin-left:20px;
        font-weight: 700;
        font-family: poppins;
        font-size: 16px;
    }
    .card-size{
        height: 130px;
        width: 112px;
        border-radius: 10px;        
    }
    .card-row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 1px;
        margin-top: 5px;
        height: 40px;
        width:410px;
    }

    .card-img-top1{
        height: 75px;
        width: 110px;
        border-radius: 5px;
    }
    .card-img-top2{
        height: 120px;
        width: 110px;
        border-radius: 5px;
    }
    .card-img-top3{
        height: 80px;
        width: 110px;
        border-radius: 5px;
    }

    .sailors-title{
        text-align:left ;
        font-family: poppins;
        font-weight: 500;
        font-size: 10px;
    }
    .card-text1{
        color: rgb(84, 82, 82);
        font-family: poppins;
        font-size: 6px;
    }
 
}