
.total{
    object-fit: cover;
}

.image-control{
    background-color: #cccccc;
    height: 100%;
    width: 100%;
}


.email-container {
    position: relative;
    
  }
  
  .email-icon {
    position: absolute;
    top: 45%;
    left: 68%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none; /* Allow clicks through the image */
  }
  
.email-input::placeholder{
    color: white;
    }
    

    .hidden {
        opacity: 0; /* Make the icon invisible */
        pointer-events: none; /* Disable interaction */
      }
      
.list{
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    border-bottom: 0;
}

.heading{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-top: 50px;
}

.follow{
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    margin-right: 140px;
    margin-top:45px;
}

.icons{
    width: 25px;
    height: 25px;
    line-height: 50px;
}

.icon-row{
    width: 237.37px;
    height: 30px;
    margin-left: 130px;
}

.email-input{
    width: 250px;
    border-radius: 5px;
    margin-left: 490px;
    font-size: 14px;
    padding: 9px 27px;
    text-align: center;
    color: white;
}

.subscribe{
    background-color: #F97D3D;
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 27px;
    color: white;

}

.sailors_wave{
    height: 350px;
    width: 321px;
    margin-left: 7%;
}


.services-div2{
    margin-right: 150px;
}

@media screen and (max-width:412px) {
    .total{
        display: none;
    }
}