.our-clients{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

.div-background {
    background-color: #4F5C60;
}
.title-text{
    font-size:42px;
    font-family: lato;
    font-weight: 700;
}