#about {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 46px;

}

.para {
    height: 250px;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: rgb(53, 52, 52);
}

.total_about {
    display: flex;
    flex-direction: row;
    padding: 60px 330px;
}

.sailors {
    height: 370px;
    width: 340px;
    padding-right: 0px;
    margin: 5px 150px;
    box-shadow: 40px 40px 16px rgba(175, 209, 248, 0.5);
}

#button1 {
    background-color: rgb(97, 147, 227);
    border: none;
    padding: 11px 40px;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 100px;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#button2 {
    background-color: rgb(92, 181, 128);
    border: none;
    padding: 11px 40px;
    border-radius: 100px;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 7px;
}