.table{
    height: 682px;
    background-color: rgb(232, 236, 240);

}

.sailor-bottom{
    height: 230px;
    background: #1F384F;
}

.example-table1{
    height: 400px;
    background: #1F384F;
}

.example-table2{
    height: 242px;
    background: #1F384F;
}

.privacy-element{
    text-align: start;
}

.apply-button{
    margin-left: 20px;
    width: 120px;
    border-radius: 50px;
}

.sailor-text1{
    font-family: poppins;
    font-weight: 700;
    font-size: 50px;
    color: #1F284F;
    margin-top: 20px;
    margin-left: 200px;


}

.sailor-text2{
    font-family: poppins;
    font-weight: 400;
    font-size: 20px;
    margin-left: 200px;
    margin-right: 45px;
    color: #575757;
    height:128px;
    width: 444px;
}

.image1{
    position: relative;
    margin-top: 120px;
    
}

.image2{
    position: relative;
    margin-right: 680px;
}


.image3{
    position: relative;
   
}

.image4{
    margin-left: 250px;
    position: relative;
}



.form-total{
    height: 340px;
    width: 450px;
    margin-left: 60px;
    position: absolute;
    border-radius: 10px;
}

.name{
    font-size: 12px;
    font-family: poppins;
    font-weight: 500;
    color: #515458;
}

.policy{
    font-size: 16px;
    font-family: poppins;
    font-weight: 500;
}

.placeholder1{
    font-size: 14px;
    font-family: poppins;
    font-weight: 400;
}

