.form-total .input-larger{
    width: 520px;
}

.form-total input{
    width: 240px;
}

.form-total{
    border-radius: 10px;
    width: 70%;
    box-shadow: 2px 2px 2px;
}

.privacy-element{
    text-align: start;
}

.apply-button{
    margin-left: 20px;
    width: 120px;
    border-radius: 50px;
}


.Sailor-text1{
    font-family: poppins;
    font-weight: 700;
    font-size: 50px;
    color: #1F284F;
    margin-top: 150px;
    margin-left: 45px;

}

.Sailor-text2{
    font-family: poppins;
    font-weight: 400;
    font-size: 20px;
    margin-left: 45px;
    margin-right: 45px;
    color: #575757;
    ;
}