.form-total input{
    width: 250px;
}
.form-total{
    border-radius: 10px;
    width: 35%;
    margin-left: 700px;
    border: 1px solid rgb(82, 189, 235);
}

.privacy-element{
    text-align: start;
    margin-right: 50px;
}

.apply-button{
    margin-left: 20px;
    width: 120px;
    border-radius: 50px;
}

